.image__LoadingUI{
    height: 250px;
    width: 200px;
    border-radius: .25rem;
    animation-name: generateRandomBGColor;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes generateRandomBGColor {
    0%{
        background: linear-gradient(to bottom, #EFF54D, #00AC61);
    }
    50%{
        background: linear-gradient(to bottom, #FED54A, #FF9347);
    }
    100%{
        background: linear-gradient(to bottom, #DB0B5F, #6F00ED);
    }
}